@import '../../../assets/scss/vars';

.tabs {
  width: 100%;
  display: flex;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.label {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 15px 10px;
  background: $white;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
  box-sizing: border-box;

  &:first-of-type {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }
  &:last-of-type {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.input {
  appearance: none;
  box-sizing: border-box;

  &:focus-visible + .label {
    border: 2px solid $blue;
    background-color: $white;
    color: $blue;
  }

  &:checked + .label {
    background: $blue;
    color: $white;
  }
}
